body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #747704;
}

hr {
	border: none;
	height: 3px;
	background-color: #bcbbbb
}

.top {
	float: left;
}

.topleft {
	margin-top: 10px;
}

.thinline {
	margin-top: 3px;
	color: #bcbbbb;
}

.topline {
	text-align: right;
	text-transform: uppercase;
}

#header {
	font-weight: 100;
	font-size: 48px;
}

.midline {
	color: #bcbbbb;
}

.featured {
	text-align: center;
	color: #747704;
}

.thin {
	font-weight: 100;
}

.center {
	margin: auto;
}

.link {
	color: #747704;
}