body{
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	color: #747704;
	max-width: 1000px;
	margin: auto;
	
}

hr{
	border: none;
	height: 3px;
	background-color: #BCBBBB
}

.top{
	float:left;
}

.topleft{
	margin-top: 10px;
}


.thinline{
	margin-top: 3px;
	color: #BCBBBB;
}

.topline{
	
	text-align: right;
	text-transform: uppercase;
}

#header{
	font-weight: 100;
	font-size: 48px;
}

.midline{
	color: #BCBBBB;
}

.featured{
	text-align: center;
	color: #747704;
}

.thin{
	font-weight: 100;
}

.center{
	margin: auto;

}

.big{
	width: 1000px;
	height: 700px;
}

.min{
	height: 300px;
	width: 500px;
}


